primary_conninfo = 'host={{ primary_host }} port=5432 user={{ replication_user }} password={{ replication_password }} application_name={{ inventory_hostname }}'
hot_standby = on
primary_slot_name = '{{ inventory_hostname | replace('-', '_') }}_slot'
